body {
  /*padding: 5px;*/
  font-family: 'Copperplate', helvetica;
  font-size: 14px;
}
a {
  color: #00B7FF;
}
.divSplashBackground#splashBackground {
  background-image: url('../images/bookSplash.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;

}
nav.navbar {
  width: 100vw;
  align-items:
}
body {
  width: 100vw;
  height: 100vh;
}
.background {
  background-image: url('../images/bookSplash.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;


}
.container #splashPage {

  text-align: center;
  height: 100vh;
  max width: 100vw;
  overflow: scroll;
}
.container#aboutMe {
  text-align: center;
  height: 20vw;
  max width: 85vw;
  /*content: normal;
  display:block;
  clear:left;
  visibility:hidden;*/
}
.container#contactInfo {
  height: 20vw;
  max width: 85vw;
}
.header {
  font-size: 5vw;
  color: darkgrey;
  font-family: 'Copperplate', helvetica;
  text-align: center;
}
.quote {
  font-size: 2vw;
  font-style: italic;
  font-family: 'Copperplate', helvetica;
  color: lightgrey;
}
.quoteBy {
  font-size: 3vw;
  font-family: 'Copperplate', helvetica;
  font-weight: 400;
}

.testBlock {
  border: 2px solid black;
}
.profileName {
  font-size: 2vw;
  color: grey;
  font-family: 'Copperplate', helvetica;
  text-align: center;

}
.profileImg img{
  padding-top: 10px;
  overflow: hidden;
  width: 20vw;
  min-width: 200px;
  min-height: 200px;
}

.linkIcon img {
  max-height: 3vw;
  max-width: 3vh;
}
.topBarIcons img {
  max-height: 25px;
}
.fifty {
  height: 50vh;
  position: sticky;
}

/*buttons*/

a.btn,.btn {
  margin-right: 1px; /* remove this while use*/
  margin-bottom: 1px; /* remove this while use*/
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);

}
/* Radius */
.btn-radius {
  border-radius: 3px;
}
