extends layout

block content
  link(rel='stylesheet', type='text/css', href='/style/background.css')
  //- .background
  #splashPage.row
    .row
      .col-md-1
        .row.fifty
        .row
          .col-md-12
            a.btn.btn-large.btn-gray(href='/') Next 
          
      .col-md-3
        .row
          .col-xs-12.profileImg
            img(src='/images/myProfile.png', alt='My profile image')
        .row
          .col-xs-12.profileName Richard Maltby  
        .row
          .col-xs-12
            .row.linkIcon
              .col-xs-1
                br
              .col-xs-2
                a(href='http://stackoverflow.com/users/5724407/richard-maltby?tab=profile')
                  img(src='/images/StackOverflowIcon.png', alt='Stack Overflow')
              .col-xs-2
                a(href='https://twitter.com/Richard__Maltby')
                  img(src='/images/TwitterIcon.png', alt='Twitter')
              .col-xs-2
                a(href='https://angel.co/richard-maltby')
                  img(src='/images/AngelListIcon.png', alt='Angel List')
              .col-xs-2
                a(href='https://github.com/MaltbyRL')
                  img(src='/images/GithubIcon.png', alt='Github')
              .col-xs-2
                a(href='https://www.linkedin.com/in/richard-maltby-4b537831')
                  img(src='/images/LinkedInIcon.png', alt='Linked In')
              .col-xs-1
                br  
      .col-md-7
        .row(style="height: 3vw;")
        .row
          img(src='/images/aboutCodingHouseImg.png', alt='Page about CodingHouse')  
      .col-md-1
        .row.fifty
        .row
          .col-md-12
            a.btn.btn-large.btn-gray(href='/blog') Next 
            
            
              




  block scripts
    script(src="/js/indexScript.js")
