extends layout

block content
  .this

  iframe(style="width:90vw; height:90vh;" src='https://richardmaltbyblog.wordpress.com/', frameborder='0', allowfullscreen)


  block scripts
    script(src="/js/blog.js")
