extends layout

block content
  .container
    .row.fifty
    .row
      .col-xs-1
      .col-xs-10
      .col-xs-1
        a.btn.btn-large.btn-gray(href='/aboutMe') Next 
        
  block scripts
    script(src="/js/indexScript.js")

      
      
