extends layout

block content
  .container
    #splashBackground.divSplashBackground
    #splashPage.row
      .row
        .col-xs-4
          .row
            .col-xs-12.profileImg
              img(src='/images/myProfile.jpg', alt='My profile image')
          .row
            .col-xs-12.profileName Richard Maltby  
          .row
            .col-xs-12
              .row.linkIcon
                .col-xs-1
                  br
                .col-xs-2
                  a(href='http://stackoverflow.com/users/5724407/richard-maltby?tab=profile')
                    img(src='/images/StackOverflowIcon.png', alt='Stack Overflow')
                .col-xs-2
                  a(href='https://twitter.com/Richard__Maltby')
                    img(src='/images/TwitterIcon.png', alt='Twitter')
                .col-xs-2
                  a(href='https://angel.co/richard-maltby')
                    img(src='/images/AngelListIcon.png', alt='Angel List')
                .col-xs-2
                  a(href='https://github.com/MaltbyRL')
                    img(src='/images/GithubIcon.png', alt='Github')
                .col-xs-2
                  a(href='https://www.linkedin.com/in/richard-maltby-4b537831')
                    img(src='/images/LinkedInIcon.png', alt='Linked In')
                .col-xs-1
                  br  

      .row
        .col-xs-8
          #scrollQuote
          
          
  block scripts
    script(src="/js/indexScript.js")

      
      
