extends layout

block content
  .container
    #splashBackground.divSplashBackground
    
      .row
        .col-xs-8
          #scrollQuote
          
          
  block scripts
    script(src="/js/indexScript.js")

      
      
